
## <summary>policy for smartcash</summary>


########################################
## <summary>
##	Transition to smartcash.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`smartcash_domtrans',`
	gen_require(`
		type smartcash_t, smartcash_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, smartcash_exec_t, smartcash_t)
')


########################################
## <summary>
##	Execute smartcash server in the smartcash domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`smartcash_initrc_domtrans',`
	gen_require(`
		type smartcash_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, smartcash_initrc_exec_t)
')


########################################
## <summary>
##	Search smartcash lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`smartcash_search_lib',`
	gen_require(`
		type smartcash_var_lib_t;
	')

	allow $1 smartcash_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read smartcash lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`smartcash_read_lib_files',`
	gen_require(`
		type smartcash_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, smartcash_var_lib_t, smartcash_var_lib_t)
')

########################################
## <summary>
##	Manage smartcash lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`smartcash_manage_lib_files',`
	gen_require(`
		type smartcash_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, smartcash_var_lib_t, smartcash_var_lib_t)
')

########################################
## <summary>
##	Manage smartcash lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`smartcash_manage_lib_dirs',`
	gen_require(`
		type smartcash_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, smartcash_var_lib_t, smartcash_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an smartcash environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`smartcash_admin',`
	gen_require(`
		type smartcash_t;
		type smartcash_initrc_exec_t;
		type smartcash_var_lib_t;
	')

	allow $1 smartcash_t:process { ptrace signal_perms };
	ps_process_pattern($1, smartcash_t)

	smartcash_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 smartcash_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, smartcash_var_lib_t)

')

